* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    color: hsl(170.94, 98.39%, 51.18%);
    font-family: 'POPPINS', sans-serif;
}

a {
    color: hsl(170.94, 98.39%, 51.18%);

}


.title {
    width: 100%;
    background-color: hsl(198.18, 100%, 45.29%);
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    background-color: rgb(0, 0, 0);
    color: rgb(251, 251, 251);
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 30%;
    max-width: 100%;
    min-height: 5vh;
}


.header div img {
    width: 25px;
    height: 25px;
    margin-top: .5rem
}

.vidas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-form {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 4%;
    top: 45%;
    justify-content: center;
    align-items: center;
}



.letter-input {
    font-family: 'Anton', sans-serif;
    text-transform: lowercase;
    font-size: 1.5rem;
    text-align: center;
    width: 3%;

}



#submit {

    background: url(/ok.png);
    background-color: rgba(128, 128, 128, 0.308);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 1px solid black;
    min-width: 2%;
    max-width: 10%;
    height: 100%;
    border-radius: 50%;
    margin-right: 1%;
}

#submit:hover {
    scale: 1.1;
    background-color: rgb(18, 255, 58);
}

#spanMessageJustLetter {
    text-align: center;
    font-weight: 900;
}

.header div {
    height: 100%;
    padding: 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dicas {
    margin-left: .5rem
}





@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.card-dicas {

    display: flex;
    align-self: center;
    justify-content: center;
    width: 25%;
    height: 20%;
    font-family: 'Source Code Pro', monospace;

}

p.card-dicas.\32 {
    height: auto;
    padding-top: 3rem;
}

#historico {
    position: absolute;
    top: 10%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: .1rem;
    padding: .2em;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    min-width: 20%;




}

h3#title-historico {
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.blue-background {
    line-height: 3rem;
    padding: .1rem .5rem 0;
    font-size: 1.5rem;
    margin-left: .1rem;
    font-family: 'Anton', sans-serif;
    transition: .5s;
    color: black;
    background-color: rgb(29, 227, 56);

}



.green-background {
    line-height: 3rem;
    padding: .1rem .5rem 0;
    font-size: 1.5rem;
    margin-left: .1rem;
    font-family: 'Anton', sans-serif;
    transition: .5s;
    color: black;
    background-color: rgb(208, 211, 39);
}

.red-background {
    line-height: 3rem;
    padding: .1rem .5rem 0;
    font-size: 1.5rem;
    margin-left: .1rem;
    font-family: 'Anton', sans-serif;
    transition: .5s;
    color: black;
    background-color: #ffffff4e
}



.jello-horizontal {
    border-radius: 50%;
    z-index: 10;
    font-size: 10px;
    width: 4.5rem;
    height: 4.5rem;
    border: .5rem solid grey;


}

#name {
    text-align: center;
    font-family: 'Monoton';
    font-size: 1.5rem;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
}

p.space {
    margin: .5rem;
}

.jello-horizontal:hover {
    -webkit-animation: jello-horizontal 1s both;
    animation: jello-horizontal 1s both;
}

#nue {
    font-size: 3rem;
    margin-right: 1rem;
}

#nua {
    -webkit-animation: jello-vertical 2s infinite both;
    animation: jello-vertical 2s infinite both;
    font-size: 2rem;
}

#front {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.caiu {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}





@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .letter-input {
        width: 9.5%;
    }

    #submit {
        position: absolute;
        margin-top: 5rem;
        width: 100%;
        height: 100%;
    }

    .card-dicas {
        width: 70%;
        ;
    }












}


/* ----------------------------------------------
 * Generated by Animista on 2023-1-26 0:26:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-26 15:38:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-26 16:48:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}